.auth-left-image-banner {
    background: url("../image/auth-bg-img.jpg") no-repeat center center/cover;
    background-size: cover;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-color: #070f19c7;
}
.content-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2rem; /* Adjust padding as needed */
    max-width: 90%; /* Limits the width to prevent overflow */
    color: white;
}

.avatar-group {
    display: flex;
    /* gap: 5px;
    position: relative; */
}

/* .avatar-group-item {
    position: relative;
    margin-left: -15px;
    transition: transform 0.3s ease, z-index 0.3s ease;
} */

.avatar-group-item {
    margin-right: -10px; /* Controls overlap of avatars */
}

.form-check-input {
    --bs-form-check-bg: #F5F7FA;
    border: var(--bs-border-width) solid #ababab;
}

.avatar-sm {
    width: 40px; /* Avatar size */
    height: 40px;
}

.avatar-md {
    width: 60px;
    height: 60px;
}

h1,
p {
    max-width: 100%;
    word-wrap: break-word;
}

/* Adjust padding for consistency */
@media (max-width: 1200px) {
    .content-wrapper {
        padding: 1.5rem;
    }
}

.avatar-group-item img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid white;
    transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1),
}

.social-icon{
    width: 55px;
    height: 55px;
}

@media (min-width: 1199px) and (max-width: 1499px) {
    .avatar-group-item img {
        width: 45px;
        height: 45px;
        border: 2px solid white;
    } 
    .avatar-md {
        width: 45px;
        height: 45px;
    }
    .social-icon{
        width: 40px;
        height: 40px;
    }
}


/* Hover effect */
.avatar-group-item:hover {
    transform: scale(1.2);
    z-index: 10; /* Brings hovered item to the front */
    transform: scale(1.08); /* Slightly zoom in */
}

.social-icon:hover {
    background-color: #81a8c7 !important;
    border: none;
}
/* Register Page Style */
.verify-text {
    font-size: 0.75rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.modal-logo {
    background-color: white;
    border-radius: 50%;
    position: absolute;
    /* margin-top: px; */
}

/* ===== Header ===== */
.balance {
    background-color: #102030;
    color: white;
    border-radius: 8px;
}
.bell-icon {
    width: 38px;
    height: 38px;
}
.img-container {
    /* background-image: url('../image/auth-bg-img.jpg');  */
    background-size: cover;
    height: 300px;
}

.auth-container {
    max-width: 500px;
    margin-top: 10%;
    margin-bottom: 10%;
}

.service-box {
    border-radius: 15px;
    padding: 40px 20px;
    max-width: 200px;
    border: 0.75px solid var(--theme-border-color);
    color: var(--bs-dark-text-emphasis);
}

@media (max-width: 767px) {
    .service-box {
        padding: 20px;
    }
}
@media (min-width: 1199px) and (max-width: 1399px) {
    .service-box {
        padding: 20px;
    }
}

.service-box img,
.bi-plus-circle {
    width: 1.5rem;
}
.service-box:hover {
    background-color: var(--primary-color);
    color: white;
}
.service-box:hover img {
    filter: brightness(0) invert(1);
}
.font-text-13 {
    font-size: 13px;
}
.trans-green {
    color: #41d457;
}
.transaction-icon {
    width: 2.5rem;
}
.quick-transfer-container {
    background-color: var(--primary-color);
}
.transaction-date {
    font-size: 0.8rem;
}
.quick-transfer-container {
    border-radius: 15px;
    padding: 1rem;
}

/* Notification Page Style*/
.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comment {
    display: flex;
    gap: 20px;
    border: 1px solid #ece9e9;
    border-radius: 8px;
    padding: 16px;
}

.avatar img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

.content h3 {
    margin-top: 0;
    margin-bottom: 8px;
}

/* .content p {
    margin-top: 0;
    margin-bottom: 5px;
} */

.meta {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #666;
}
main.content {
    max-height: 100vh;
    overflow-y: auto;
}
/* Style the scrollbar */
main.content::-webkit-scrollbar {
    width: 8px;
}

/* Style the background of the scrollbar) */
main.content::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Style the scrollbar thumb (the part you can drag) */
main.content::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

/* Style the scrollbar thumb on hover */
main.content::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* ======= Responsiveness ========== */
@media (max-width: 900px) {
    .service-box {
        margin: 0.8rem 0;
    }
}

@media (max-width: 640px) {
    .navbar-nav {
        display: none;
    }
}
@media (max-width: 500px) {
    .service-box {
        margin: 0;
    }
}

/* KYC Documents Page Style */
.kyc-container {
    background-color: yellowgreen;
    max-width: 700px;
}
.caption {
    padding: 0px 1.5rem;
}
@media (min-width: 770px) and (max-width: 900px) {
    .caption {
        /* background-color: yellowgreen; */
        padding: 0 5rem;
    }
}
@media (min-width: 400px) and (max-width: 600px) {
    .stepper-container {
        /* background-color: yellowgreen; */
        /* width: 100%; */
    }
}
