.heading-1 { font-size: var(--font-size-h1); margin-bottom: 0px; font-weight: 600; }
.heading-2 { font-size: var(--font-size-h2); margin-bottom: 0px; font-weight: 600; }
.heading-3 { font-size: var(--font-size-h3); margin-bottom: 0px; font-weight: 600; }
.heading-4 { font-size: var(--font-size-h4); margin-bottom: 0px; font-weight: 600; }
.heading-5 { font-size: var(--font-size-h5); margin-bottom: 0px; font-weight: 600; }
.heading-6 { font-size: var(--font-size-h6); margin-bottom: 0px; font-weight: 600; }

.content-1 { font-size: var(--font-size-content-1); margin-bottom: 0px; }
.content-2 { font-size: var(--font-size-content-2); margin-bottom: 0px; }
.content-3 { font-size: var(--font-size-content-3); margin-bottom: 0px; }