/* Apply the custom properties to the headings */
h1 { font-size: var(--font-size-h1); }
h2 { font-size: var(--font-size-h2); }
h3 { font-size: var(--font-size-h3); }
h4 { font-size: var(--font-size-h4); }
h5 { font-size: var(--font-size-h5); }
h6 { font-size: var(--font-size-h6); }


/* Apply the custom properties to paragraphs */
p { font-size: var(--font-size-p1); }
p.font-md { font-size: var(--font-size-p2); }
p.font-sm { font-size: var(--font-size-p3); }


/* Apply the custom properties to labels */
label { font-size: var(--font-size-label1); }
label.font-md { font-size: var(--font-size-label2); }
label.font-sm { font-size: var(--font-size-label3); }

.form-control { font-size: var(--font-size-label2); }
.nav-link { font-size: var(--font-size-label2); }
.btn { font-size: var(--font-size-label2); }