.select2-container .select2-selection--single .select2-selection__rendered {
    display: flex;
    align-items: center;
}

.select2-container .select2-selection--single .select2-selection__rendered img {
    margin-right: 8px !important;
    margin-bottom: 0px !important;
} 

.select2-container .select2-selection--single {
    height: 40px !important;
}

.select2-container--default .select2-selection--single{
    
}

.select2-container--default .select2-selection--single{
    border: none !important;
    background-color: #F5F7FA !important;
}
.select2-container--default .select2-selection--single {
	border-radius: .5rem;
}
.select2-container--default .select2-selection--single .select2-selection__rendered { 
    line-height: 40px !important;
} 
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 37px;
    right: 10px;
}
.select2-dropdown {
    border: 1px solid #e0e0e0 !important;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: var(--secondary-color);
    color: white;
}
.select2-container--default .select2-results>.select2-results__options{
    scrollbar-width: thin;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #e0e0e0 !important;
    border-radius: 5px !important;
}