@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("variables.css");
@import url("auth.css");
@import url("responsive-fonts.css");

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-body);
  opacity: 1;
  overflow-y: auto;
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  font-family: var(--font-family);
}

li {
  list-style: none;
}

h4 {
  font-family: var(--font-family);
  font-size: var(--font-size-h4);
  color: var(--emphasis-color);
}

.wrapper {
  align-items: stretch;
  display: flex;
  width: 100%;
}

#sidebar {
  max-width: var(--sidebar-width);
  min-width: var(--sidebar-width);
  transition: all var(--transition-speed) ease-in-out;
  border-right: 1px solid transparent;
  border-image-source: linear-gradient( 180deg, rgba(0, 0, 0, 0) 0%, #343434 50.5%, rgba(102, 102, 102, 0) 100% );
  border-image-slice: 1;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 0;
  overflow: hidden;
  transition: all var(--transition-speed) ease-in-out;
  width: 100%;
  background: var(--background-color-dark-subtle);
}

.sidebar-logo {
  padding: var(--spacing-large);
  display: flex;
  /* background-color: yellowgreen; */
  justify-content: center;
}
.sidebar-logo a {
  color: var(--primary-color);
  font-size: var(--font-size-sidebar-logo);
  font-weight: var(--font-weight-sidebar-logo);
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  margin-left: 0;
  padding: 0 20px;
}

.sidebar-header {
  color: var(--primary-color);
  font-size: var(--font-size-sidebar-header);
  padding: 1.5rem var(--sidebar-padding) var(--spacing-small);
}

a.sidebar-link {
  padding: var(--spacing-medium) var(--sidebar-padding);
  color: var(--primary-color);
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  font-size: var(--font-size-sidebar-link);
}

.sidebar-item .active{
  color: var(--white);
  background-color: var(--primary-color);
}

a.sidebar-link[data-bs-toggle=collapse]::after {
  border: solid;
  border-width: 0 0.075rem 0.075rem 0;
  content: "";
  display: inline-block;
  padding: 2px;
  position: absolute;
  right: 1.5rem;
  top: 1.4rem;
  transform: rotate(-135deg);
  transition: all 0.2s ease-out;
}
a.sidebar-link[data-bs-toggle=collapse].collapsed::after {
  transform: rotate(45deg);
  transition: all 0.2s ease-out;
}


/* BootStrap Default Colors Change */
.btn-primary {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.btn-primary:hover {
  background-color: var(--primary-color-hover) !important;
  border-color: var(--primary-color-hover) !important;
}

.btn-secondary {
  background-color: var(--secondary-color) !important;
  border-color: var(--secondary-color) !important;
}

.btn-secondary:hover {
  background-color: var(--secondary-color-hover) !important;
  border-color: var(--secondary-color-hover) !important;
}

.text-secondary{
  color: var(--primary-color) !important;
}

.nav-link, .nav-link:focus, .nav-link:hover{
  color: var(--primary-color);
  border: 1px solid var(--gray-color)
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color)
}

.register-form-container{
  /* margin-top: 10%;
  margin-bottom: 10%; */
  /* background-color: yellowgreen; */
}
@media (min-width: 700px) and (max-width: 900px) {
  .register-form-container {
    /* margin-top: 10%;
    margin-bottom: 10%; */
    /* background-color: yellowgreen; */
    margin-top: 0px;
    margin-bottom: 0px;
    justify-items: center;
  }
}


.bg_overlay_3{
  background-image: url('../image/overlays/bg-auth-top-overlay.svg');
  height: 100%;
  width: 40%;
  top: 0;
  right: 0;
  background-size: contain;
  position: absolute;
  background-repeat: no-repeat;
  background-position: top;
  object-fit: cover;
  z-index: -1;
}
.bg_overlay_4{
  background-image: url('../image/overlays/bg-auth-bottom-overlay.svg');
  height: 100%;
  width: 40%;
  background-size: contain;
  position: absolute;
  background-repeat: no-repeat;
  background-position: bottom;
  left: 0;
  bottom: 0;
  object-fit: cover;
  z-index: -1;
}


.avatar {
  height: var(--avatar-size);
  width: var(--avatar-size);
}

.navbar-expand .navbar-nav {
  margin-left: auto;
}

.content {
  flex: 1;
  max-width: 100vw;
  width: 100vw;
}



.card {
  box-shadow: var(--box-shadow-card);
  margin-bottom: 24px;
}

.illustration {
  background-color: var(--primary-bg-subtle);
  color: var(--emphasis-color);
}
.illustration .illustration-img {
  max-width: 150px;
  width: 100%;
}

#sidebar.collapsed {
  margin-left: calc(-1 * var(--sidebar-width));
}



.step-container {
  position: relative;
  text-align: center;
  transform: translateY(-43%);
}

.step-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid var(--secondary-color);
  line-height: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  cursor: pointer; /* Added cursor pointer */
}

.progress, .progress-stacked{
  --bs-progress-bar-bg: var(--secondary-color);
}

.step-line {
  position: absolute;
  top: 16px;
  left: 50px;
  width: calc(100% - 100px);
  height: 2px;
  background-color: var(--secondary-color);
  z-index: -1;
}

#multi-step-form{
  overflow-x: hidden;
}

.home-banner-carousel .img-fluid {
  min-width: 100%;
  max-height: 410px;
  object-fit: cover;
  border: 0.75px solid var(--theme-border-color);
  border-radius: 14px;
}




























@media (min-width: 768px) {
  .content {
    max-width: auto;
    width: auto;
  }
}


@media (max-width: 767.98px) {
  .register-form-container{
    /* margin-top: 10%; */
    align-content: center;
  }
  .js-sidebar {
    margin-left: calc(-1 * var(--sidebar-width));
  }
  #sidebar.collapsed {
    margin-left: 0;
  }
  .navbar,
  footer {
    width: 100vw;
  }
}


/* Scrollbar Styles */
.wrapper {
  max-height: 100vh;
  overflow-y: auto;
}
/* Style the scrollbar */
.wrapper::-webkit-scrollbar {
  width: 8px;
}

/* Style the background of the scrollbar) */
.wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Style the scrollbar thumb (the part you can drag) */
.wrapper::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

/* Style the scrollbar thumb on hover */
.wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}