:root {
    /* Colors */
    --white: #ffffff;
    --primary-color: #102030;
    --primary-color-hover: #376186;
    --secondary-color: #81A8C7;
    --secondary-soft-color: #81a8c761;
    --secondary-color-hover: #5d7d97;
    --gray-color: #E0E0E0;
    --light-gray: #2c2c2c73;
    --gray-color-hover: #b9b9b9;
    --theme-border-color: #bababa;
    --background-color-dark: var(--bs-dark);
    /* --background-color-dark-subtle: var(--bs-dark-bg-subtle); */
    --primary-bg-subtle: var(--bs-primary-bg-subtle);
    --emphasis-color: var(--bs-emphasis-color);
  
    /* Font settings */
    --font-family: 'Poppins', sans-serif;
    --font-size-body: 0.875rem;
    --font-size-h4: 1.275rem;
    --font-size-sidebar-header: 0.75rem;
    --font-size-sidebar-link: 0.875rem;
    --font-size-sidebar-logo: 1.15rem;
    --font-weight-sidebar-logo: 600;
  
    /* Spacing */
    --spacing-small: 0.375rem;
    --spacing-medium: 0.625rem;
    --spacing-large: 1.4rem;
    --sidebar-padding: 1.625rem;
    --sidebar-width: 260px;

    /* Avatar */
    --avatar-size: 40px;
  
    /* Box-shadow */
    --box-shadow-card: 0 0 0.875rem 0 rgba(34, 46, 60, 0.05);
  
    /* Transition */
    --transition-speed: 0.35s;

    /* Font Size for Headings */
    --font-size-h1: clamp(24px, 1vw + 4px, 26px);
    --font-size-h2: clamp(22px, 1vw + 4px, 24px);
    --font-size-h3: clamp(20px, 1vw + 4px, 22px);
    --font-size-h4: clamp(19px, 1vw + 4px, 20px);
    --font-size-h5: clamp(17px, 1vw + 4px, 18px);
    --font-size-h6: clamp(15px, 1vw + 4px, 16px);

    /* Font Size for Paragraphs */
    --font-size-content-1: clamp(16px, 1vw + 4px, 18px);
    --font-size-content-2: clamp(15px, 1vw + 2px, 16px);
    --font-size-content-3: clamp(13px, 1vw + 2px, 14px);

    /* Font Size for Labels */
    --font-size-label1: clamp(16px, 1vw + 4px, 18px);
    --font-size-label2: clamp(15px, 1vw + 2px, 16px);
    --font-size-label3: clamp(13px, 1vw + 2px, 14px);

    /* Font Size for Body Text */
    --font-size-body: clamp(0.875rem, 2vw + 0.75rem, 1rem);
    --font-size-small: clamp(0.75rem, 2vw + 0.5rem, 0.875rem);

    /* Font Size for Sidebar and Navigation */
    --font-size-sidebar-link: clamp(14px, 1vw + 2px, 16px);
    --font-size-sidebar-logo: clamp(1rem, 2vw + 0.875rem, 1.25rem);
    --font-size-sidebar-header: clamp(0.75rem, 1.5vw + 0.5rem, 0.9rem);

    /* Font Size for Buttons */
    --font-size-button: clamp(0.875rem, 2vw + 0.75rem, 1rem);

    /* Font Size for Navbar */
    --font-size-navbar: clamp(0.875rem, 2vw + 0.75rem, 1rem);

    @media (min-width: 1199px) and (max-width: 1399px) {
      --sidebar-width: 230px;
    }
  }
  