:root {
    /* Colors */
    --white: #ffffff;
    --primary-color: #102030;
    --primary-color-hover: #376186;
    --secondary-color: #81A8C7;
    --secondary-color-hover: #5d7d97;
    --gray-color: #E0E0E0;
    --gray-color-hover: #b9b9b9;
    --theme-border-color: #bababa;
    --background-color-dark: var(--bs-dark);
    /* --background-color-dark-subtle: var(--bs-dark-bg-subtle); */
    --primary-bg-subtle: var(--bs-primary-bg-subtle);
    --emphasis-color: var(--bs-emphasis-color);
  
    /* Font settings */
    --font-family: 'Poppins', sans-serif;
    --font-size-body: 0.875rem;
    --font-size-h4: 1.275rem;
    --font-size-sidebar-header: 0.75rem;
    --font-size-sidebar-link: 0.875rem;
    --font-size-sidebar-logo: 1.15rem;
    --font-weight-sidebar-logo: 600;
  
    /* Spacing */
    --spacing-small: 0.375rem;
    --spacing-medium: 0.625rem;
    --spacing-large: 1.4rem;
    --sidebar-padding: 1.625rem;
    --sidebar-width: 260px;

    /* Avatar */
    --avatar-size: 40px;
  
    /* Box-shadow */
    --box-shadow-card: 0 0 0.875rem 0 rgba(34, 46, 60, 0.05);
  
    /* Transition */
    --transition-speed: 0.35s;

    /* Font Size for Headings */
    --font-size-h1: clamp(1.5rem, 5vw + 1rem, 3rem);
    --font-size-h2: clamp(1.375rem, 4.5vw + 1rem, 2.5rem);
    --font-size-h3: clamp(1.25rem, 4vw + 1rem, 2.25rem);
    --font-size-h4: clamp(1.125rem, 3.5vw + 1rem, 2rem);
    --font-size-h5: clamp(1.0625rem, 3vw + 1rem, 1.75rem);
    --font-size-h6: clamp(1rem, 2.5vw + 1rem, 1.5rem);

    /* Font Size for Paragraphs */
    --font-size-p1: clamp(1rem, 3vw + 1rem, 1.25rem); /* Responsive Paragraph 1 */
    --font-size-p2: clamp(0.875rem, 2.5vw + 1rem, 1.125rem); /* Responsive Paragraph 2 */
    --font-size-p3: clamp(0.75rem, 2vw + 1rem, 1rem); /* Responsive Paragraph 3 */

    /* Font Size for Labels */
    --font-size-label1: clamp(0.875rem, 2.5vw + 0.5rem, 1rem); /* Responsive Label 1 */
    --font-size-label2: clamp(0.75rem, 2vw + 0.5rem, 0.875rem); /* Responsive Label 2 */
    --font-size-label3: clamp(0.625rem, 1.5vw + 0.5rem, 0.775rem); /* Responsive Label 3 */

    /* Font Size for Body Text */
    --font-size-body: clamp(0.875rem, 2vw + 0.75rem, 1rem);
    --font-size-small: clamp(0.75rem, 2vw + 0.5rem, 0.875rem);

    /* Font Size for Sidebar and Navigation */
    --font-size-sidebar-link: clamp(0.875rem, 2vw + 0.75rem, 1.1rem);
    --font-size-sidebar-logo: clamp(1rem, 2vw + 0.875rem, 1.25rem);
    --font-size-sidebar-header: clamp(0.75rem, 1.5vw + 0.5rem, 0.9rem);

    /* Font Size for Buttons */
    --font-size-button: clamp(0.875rem, 2vw + 0.75rem, 1rem);

    /* Font Size for Navbar */
    --font-size-navbar: clamp(0.875rem, 2vw + 0.75rem, 1rem);

  }
  